.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.block {
  display: block;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.font-family--philosopher {
  font-family: "Philosopher", sans-serif;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-center {
  text-align: center;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-uppercase {
  text-transform: uppercase;
}

.leading-normal {
  line-height: 1.5;
}

.tracking-wide {
  letter-spacing: 0.025em;
}

.overflow-x-auto {
  overflow-x: auto;
}

.white {
  background-color: #ffffff;
}

.white--text {
  color: #ffffff;
}
